* {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

header {
    height: 150px;
    background-color: rgba(235, 232, 232, 0.59);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-bottom: 26px;
}

nav {
    letter-spacing: 4px;
    font-family: 'Amatic SC', cursive;
    font-size: 16px;
}

header ul {
    list-style-type: none;
    margin-right: 50px;
    margin-bottom: 16px;
}

header li {
    display: inline-block;
    padding-left: 20px;
}


a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:hover, a:active {
    color: #070134;;
}

nav a {
    color: rgba(15, 23, 75, 0.6);
}


main {
    height: auto;
    padding: 80px 170px 200px;
    text-align: left;
    background-color: #FDFDFF;
    display: flex;
    border-radius: 3px;
    align-items: center;
    justify-content: space-between;
}

main img {
    height: 150px;
    max-width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgb(89, 88, 88);
    border: 1px solid rgb(89, 88, 88);
}

figcaption {
    font-style: italic;
    margin-top: 5px;
    text-align: center;
}

.info {
    text-align: center;
    margin-bottom: 100px;
}

.info p {
    letter-spacing: 6px;
    font-size: 28px;
    color: #ee7878;
}

footer {
    height: 100px;
    background-color: rgba(17, 24, 56, 0.88);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

small {
    color: rgba(150, 169, 255, 0.85);
    margin-left: 50px;
}

footer ul {
    list-style-type: none;
    margin-right: 50px;
    margin-bottom: 0;
}

footer li {
    display: inline-block;
    padding-left: 25px;
}

.fa {
    font-size: 25px;
    font-weight: lighter;
    text-decoration: none;
    color: #faf7f7;
}

.fa:hover {
    color: #6bcbbf;
}
